<template>
    <div>
        <form action="" method="post">
            <!--Label:Project Name , Attributes:projectName -->
            <div class="col-md-6 form-group" :class="{ 'has-error' : errors.projectName }">
                <label for="projectName" class="control-label">Project Name</label>
                <div>
                    <input id="projectName" type="text" class="form-control" name="projectName" v-model="projectName">
                    <span class="help-block" v-if="errors.projectName">
                        <strong>{{ errors.projectName.toString() }}</strong>
                    </span>
                </div>
            </div>
            <!--Label:Start Date , Attributes:startDate -->
            <div class="col-md-6 form-group" :class="{ 'has-error' : errors.startDate }">
                <label for="startDate" class="control-label">Start Date</label>
                <div>
                    <input id="startDate" type="date" class="form-control" name="startDate" v-model="startDate">
                    <span class="help-block" v-if="errors.startDate">
                        <strong>{{ errors.startDate.toString() }}</strong>
                    </span>
                </div>
            </div>
            <!--Label:End Date , Attributes:endDate -->
            <div class="col-md-6 form-group" :class="{ 'has-error' : errors.endDate }">
                <label for="endDate" class="control-label">End Date</label>
                <div>
                    <input id="endDate" type="date" class="form-control" name="endDate" v-model="endDate">
                    <span class="help-block" v-if="errors.endDate">
                        <strong>{{ errors.endDate.toString() }}</strong>
                    </span>
                </div>
            </div>
            <!--Label:Budget , Attributes:budget -->
            <div class="col-md-6 form-group" :class="{ 'has-error' : errors.budget }">
                <label for="budget" class="control-label">Budget</label>
                <div>
                    <input id="budget" type="text" class="form-control" name="budget" v-model="budget">
                    <span class="help-block" v-if="errors.budget">
                        <strong>{{ errors.budget.toString() }}</strong>
                    </span>
                </div>
            </div>
            <div class="col-md-12">
                <button class="btn btn-success waves-effect waves-light"  @click.prevent="saveProject">
                    <span class="btn-label">
                        <i class="fa fa-save" :class="{ 'fa-spin fa-spinner': saving }"></i></span>
                    Add Project
                </button>
            </div>
        </form>
    </div>

</template>

<script>
    export default {
        name: "addproject",
        data() {
            return {
                projectName: '',
                startDate: '',
                endDate: '',
                budget: '',
                errors: '',
                saving: false
            }
        },
        methods: {
            saveProject() {
                let scope = this;
                scope.saving = true;
                axios.post('/admin/projects', {
                    projectName: this.projectName,
                    startDate: this.startDate,
                    endDate: this.endDate,
                    budget: this.budget,
                }).then(function (response) {
                    scope.saving = false;
                    scope.errors = '';
                    scope.projectName = '';
                    scope.startDate = '';
                    scope.endDate = '';
                    scope.budget = '';
                    Bus.$emit('projectSaved',response.data)
                }).catch(function (error) {
                    scope.errors = error.response.data.errors;
                    scope.saving = false;
                })

            }
        }

    }
</script>

<style scoped>

</style>