/*------------------------------------------------------------------
[Table of contents]

 - Global
 - Header
 - Main Slider
 - Team
 - Search
 - Blog posts
 - Comments
 - Footer


- Author:  Alex Zaymund
- Profile:  https://themeforest.net/user/pix-theme

-------------------------------------------------------------------*/


/* Global */

body {
    font-family: Ubuntu, sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

a:focus {
    outline: none;
}

.sp-body {
    overflow: hidden;
}

.container-fluid {
    max-width: 1170px;
    width: 100%;
}

.iframe01{
    width: 100%;
    border: 0;
    height: 200px;
}

.iframe02{
    width: 100%;
    border: 0;
    height: 400px;
}

html .vc_row.vc_row-no-padding .wpb_column {
    /*    padding-left: 15px;
    padding-right: 15px;*/
}

html .vc_btn3 {
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

::selection {
    background: #549404;
    color: #fff;
}

::-moz-selection {
    background: #549404;
    color: #fff;
}

.content {
    margin-top: 80px;
    margin-bottom: 20px;
}

.content_margin-lg {
    margin-top: 120px;
    margin-bottom: 60px;
}

.home-section {
    margin-top: -80px;
}

.pix-tabs .nav-tabs {
    text-align: center;
    border: none;
    margin-bottom: 50px;
    margin-left: 0;
}

.block-content {
    margin-top: 80px;
    margin-bottom: 80px;
}

.home-section {
    overflow: hidden;
}

.bg-image {
    background-attachment: fixed !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.inner-offset {}

.bg-image h1 {
    margin-top: 0px;
}

header {
    border-top: 6px solid;
}


/* .header{
  background-color: #bada55;
} */

.header .logo {
    margin-left: -10px;
}

img.full-width {
    width: 100%;
    height: auto;
}

.service-item img.full-width {
    width: 100%;
    height: auto;
}

.hgroup,
hgroup {
    margin-bottom: 50px;
}

.hgroup h1,
.hgroup h2,
hgroup h1,
hgroup h2 {
    margin: 0px;
}

.text-white .hgroup h2,
.text-white hgroup h2 {
    color: #fff;
}

.hgroup h2,
hgroup h2 {
    font-family: 'Exo', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #888;
    line-height: 22px;
    letter-spacing: 2px;
}

.hgroup h2 + h1,
.hgroup h1 + h2,
hgroup h2 + h1,
hgroup h1 + h2 {
    margin-top: 15px;
}


/* Cart */

.header .cart-block {
    position: relative;
    padding-left: 40px;
    margin-top: 6px;
}

.header .cart-block i {
    position: absolute;
    top: 0;
    left: 0;
}

.header .cart-block i:before {
    font-size: 28px;
    line-height: 30px;
    padding: 0;
    margin: 0;
}

.header .cart-block .cart-price {
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
}

.header .cart-block .cart-price .color-primary {
    margin-right: 5px;
}

.header .cart-block .cart-price .items-cart {
    font-size: 10px;
    line-height: 12px;
    padding-top: 5px;
}

.cart-block-r {
    float: right;
}


/* Header */

.social-links li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-links li a {
    font-size: 14px;
}

.topmenu:before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    width: 50%;
    height: 39px;
    background: #333;
}

.topmenu nav {
    height: 39px;
    line-height: 32px;
    background: #333;
}

.topmenu nav:last-child a:last-child {
    margin-right: 0px;
}

.topmenu nav:first-child:before {
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    border-top: 39px solid;
    border-left: 39px solid transparent;
    position: absolute;
    left: -39px;
}

.topmenu a {
    margin: 0 10px;
    font-size: 13px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
}

.topmenu a:hover {
    text-decoration: underline;
}

.header-padding {
    font-size: 11px;
    padding: 25px 0 25px 0;
    font-weight: 500;
    font-size: 14px;
    padding: 25px 0 25px 0;
    font-weight: 500;
    min-height: 90px;
}

.header-padding div {
    text-align: left;
    float: left;
    border-left: 1px solid #eee;
    padding: 5px 15px;
}

.header-padding span {
    text-transform: uppercase;
    display: block;
}

.main-menu {
    position: relative;
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    height: 65px;
    line-height: 62px;
    font-size: 16px;
    font-weight: 700;
}

#menu-close {
    display: none !important;
}

#menu-open {
    margin-left: -15px;
    margin-right: -15px;
    display: none;
    color: #fff;
    padding: 20px;
    font-size: 22px;
    display: none;
    padding-left: 40px;
}

#menu-open:hover {
    opacity: 1;
}

.main-menu section {
    display: inline-block;
    height: 65px;
}

.main-menu section nav {
    display: none;
    position: absolute;
    z-index: 2;
    line-height: 22px;
    font-size: 12px;
    font-weight: 400;
    padding: 0 20px 10px 20px;
}

.main-menu section nav a {
    display: block;
}

.main-menu section:hover nav {
    display: block;
}

.main-menu > a,
.main-menu > section > a {
    position: relative;
    padding: 0 25px;
}

.main-menu > a:after,
.main-menu > section > a:after {
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -8px;
    content: "";
    display: inline-block;
    height: 16px;
    width: 1px;
    opacity: 0.4;
}

.main-menu > a:last-child:after {
    display: none;
}

.breadcrumbsBox {
    text-transform: lowercase;
}

div.navbar-main ul li {
    display: inline-block;
    list-style: none;
}

.navbar-main {
    margin: 0;
    margin-left: -35px;
}

#main-menu {
    margin: 0;
    margin-left: -35px;
}

.navbar-main > li {
    padding: 24px 0 21px;
}

.navbar-main li a {
    -webkit-transition: all 500ms ease 0s;
    -moz-transition: all 500ms ease 0s;
    -o-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
}

.navbar-main li:hover > a {
    color: #333 !important;
}

.navbar-main > li > a {
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    padding: 0 25px;
}

.navbar-main > li:last-child > a {
    border-right: 0px none;
}

.navbar-main .open > a,
.navbar-main .open > a:focus,
.navbar-main .open > a:hover,
.navbar-main > li > a:focus,
.navbar-main > li > a:hover {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(255, 255, 255, 0.4);
}

.navbar-main > li > .dropdown-menu {
    border: 0 none;
    padding: 0;
    display: block !important;
    height: 0px;
    overflow: hidden;
    opacity: 0;
    border-radius: 0;
    box-shadow: none;
    -webkit-transition: all 500ms ease 0s;
    -moz-transition: all 500ms ease 0s;
    -o-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
}

.navbar-main > li.open > .dropdown-menu {
    height: auto;
    opacity: 1;
}

.navbar-main > li > .dropdown-menu > li > a {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    padding: 5px 25px;
}

.navbar-main > li > .dropdown-menu > li > a:focus,
.navbar-main > li > .dropdown-menu > li > a:hover {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(255, 255, 255, 0.4);
}

#main-menu-bg {
    height: 65px;
    position: absolute;
    left: 50%;
    width: 50%;
}

.column-info img {
    width: 100%;
    height: auto;
}

.column-info > span {
    display: block;
    float: right;
    margin-top: -20px;
    margin-right: -8px;
    position: relative;
    z-index: 2;
    height: 20px;
    width: 60px;
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -o-transform: skew(-30deg);
}

.column-info h3 {
    margin-top: 40px;
    margin-bottom: 25px;
    font-size: 17px;
}

.column-info a.btn {
    margin-top: 25px;
}

.big-hr {
    position: relative;
    margin: 0px auto;
    max-width: 950px;
    height: 135px;
    padding-top: 25px;
    text-align: center;
    margin-top: -35px;
}

.big-hr:before {
    position: absolute;
    top: 0px;
    left: -69px;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 135px solid;
    border-left: 70px solid transparent;
}

.big-hr:after {
    position: absolute;
    right: -69px;
    top: 0px;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 135px solid;
    border-right: 70px solid transparent;
}

.big-hr h2 {
    font-size: 17px;
}

.big-hr div {
    display: inline-block;
}

.big-hr a.btn {
    margin-top: -30px;
}

html .our-services div > a:hover::after {
    background-color: #a91605;
}

.our-services div > a {
    position: relative;
    padding: 40px 10px 0px 105px;
    display: block;
    cursor: pointer;
    border: 1px solid;
    border-right: none;
    height: 180px;
    margin-bottom: 40px;
}

.our-services div > a:after {
    display: block;
    content: "";
    position: absolute;
    right: 0px;
    top: -1px;
    bottom: -1px;
    width: 4px;
}

.our-services div > a:hover {
    text-decoration: none;
}

.our-services div > a > span {
    text-align: center;
    padding-top: 15px;
    width: 70px;
    height: 80px;
    position: absolute;
    left: -10px;
    top: 45px;
    display: block;
    border: 1px solid #eee;
    background: #fff;
    border-right: none;
}

.our-services div > a > span:before,
.our-services div > a > span:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 80px solid #eee;
    border-right: 25px solid transparent;
    top: -1px;
    right: -25px;
}

.our-services div > a > span:after {
    border-bottom-color: #fff;
    top: -2px;
    right: -23px;
}

.our-services div > a > span > i:after,
.our-services div > a > span > i:before {
    font-size: 30px;
}

.our-services div > a > span > i {
    font-size: 30px;
    margin-left: -10px;
}

.our-services div > a:hover > span > i {
    color: #fff;
}

.fleet-gallery {
    background-image: url(../media/bg/1.jpg);
    padding-bottom: 120px;
    padding-top: 120px;
    margin-top: 20px;
}

#fleet-gallery {
    position: relative;
}

#fleet-gallery .owl-item img {
    padding: 0 5px;
}

#fleet-gallery img {
    width: 100%;
    height: auto;
}

#fleet-gallery .owl-buttons {
    margin-top: 15px;
}

#fleet-gallery .owl-buttons div {
    background: none;
    padding: 5px 20px;
}


/* Accordion */

.accordion .panel .icon {
    display: inline-block;
    font-style: normal;
    background-color: transparent;
}

.accordion .btn-collapse .icon:before {
    display: block;
    font-size: 24px;
    content: '-';
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.accordion .btn-collapse.collapsed .icon:before {
    border-color: #999;
    content: '+';
}

.accordion .panel-title.panel-passive {
    color: #333;
    border-left-color: #eee;
}

.accordion_marg-top_a {
    margin-top: 45px;
}

.panel-heading {
    position: relative;
    color: #333;
    background-color: transparent !important;
    padding: 14px 15px;
}

.panel-heading .btn-collapse {
    position: absolute;
    top: 0;
    display: block;
    width: 50px;
    height: 100%;
    text-align: center;
    left: 0;
    color: #6d6d6d;
}

.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #eee;
}

.panel-group .panel+.panel {
    margin-top: -1px;
}

.panel-heading .panel-title {
    text-align: right;
    text-transform: uppercase;
    font-size: 13px;
    padding-left: 40px;
}

.testimonial-content {
    position: relative;
    margin-left: 10px;
    padding: 45px 15px 40px 80px;
    margin-bottom: 40px;
}

.testimonial-content:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -20px;
    right: 45px;
    width: 0;
    height: 0;
    border-top: 20px solid;
    border-right: 20px solid transparent;
}

.testimonial-content span {
    display: table-cell;
    text-align: center;
    padding-top: 16px;
    width: 50px;
    height: 55px;
    position: absolute;
    left: -10px;
    top: 45px;
    border: 1px solid;
    border-right: none;
}

.testimonial-content span:before,
.testimonial-content span:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 55px solid;
    border-right: 15px solid transparent;
    top: -1px;
    right: -15px;
}

.testimonial-content span i {
    color: #FFF;
}

.testimonial-author {
    margin-right: 40px;
}

.testimonial-author h4 {
    margin-bottom: 0px;
}

#testimonials .owl-buttons {
    margin: -40px 0 0 10px;
}

#testimonials2 .owl-buttons {
    position: absolute;
    top: -100px;
    right: 20px;
}

#testimonials2 .owl-buttons div {
    padding: 5px 20px;
    border-color: #dddddd;
}

#testimonials2 > div.owl-wrapper-outer > div > div > div {
    margin-right: 20px;
}

.stats > div > div {
    position: relative;
    margin-left: 10px;
    border: 1px solid;
    border-bottom: 3px solid;
    padding: 35px 5px 35px 100px;
    font-family: 'Exo', sans-serif;
}

.stats span:first-child {
    text-align: center;
    padding-top: 20px;
    width: 60px;
    height: 70px;
    position: absolute;
    left: -10px;
    top: 20px;
    display: block;
    border: 1px solid #eee;
    background: #fff;
    border-right: none;
}

.stats span:first-child i {
    font-size: 24px;
    margin-left: 5px;
}

.stats span:first-child:before,
.stats span:first-child:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 70px solid #eee;
    border-right: 20px solid transparent;
    top: -1px;
    right: -20px;
}

.stats span:first-child:after {
    border-bottom-color: #fff;
    top: -2px;
    right: -18px;
}

.stats > div {
    margin-bottom: 30px;
}

.stats span.percent {
    font-family: 'Exo', sans-serif;
    display: block;
    float: left;
    font-size: 36px;
    font-weight: 700;
    margin-right: 15px;
    margin-top: -5px;
}

.blog-section.bg-image {
    background-image: url(../media/bg/2.jpg);
    background-color: #2b2b2b;
    padding-top: 110px;
    padding-bottom: 110px;
}

.blog-section .hgroup {
    float: left;
}

.blog-section .btn {
    color: #FFF !important;
}

.one-news a {
    color: #fff;
}

.one-news > div {
    position: relative;
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-left: -15px;
}

.one-news > div > div:hover {
    opacity: 1;
}

.one-news > div > div {
    bottom: 0px;
    left: 0px;
    width: 100%;
    position: absolute;
    padding: 30px 40px;
    opacity: 0.9;
    -webkit-transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
}

.one-news > div > div h3,
.two-news > div div:last-child h3 {
    font-size: 18px;
    text-transform: none;
    font-weight: 400;
    margin: 0px;
    margin-bottom: 20px;
}

.two-news > div div:last-child h3 {
    font-size: 16px;
    line-height: 24px;
}

.one-news > div > div small,
.two-news > div div:last-child small {
    display: inline-block;
    padding-right: 15px;
    font-size: 11px;
}

.one-news > div > div small.news-author,
.two-news > div div:last-child small.news-author {
    border-right: 1px solid;
    margin-right: 15px;
}

.pix-lastnews-light .hgroup * {
    color: #fff !important;
}

.pix-lastnews-light .one-news div,
.pix-lastnews-light .news-item div div {
    background-color: #fff !important;
    color: #333;
}

.pix-lastnews-light .one-news div *,
.pix-lastnews-light .news-item div * {
    color: #333 !important;
}

.one-news div * {
    text-transform: uppercase;
}

.pix-lastnews-dark .two-news > div h3 a {
    color: #fff !important;
}

.news-item small {
    text-transform: uppercase;
}

.news-item {
    margin-bottom: 30px;
}

.pix-lastnews-light .news-item a {
    color: #fff;
}

.news-item div:first-child {
    padding-right: 0px;
}

.news-item div:last-child {
    padding-left: 0px;
}

.two-news > div div:first-child > div {
    height: 135px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.two-news > div div:last-child > div {
    padding: 25px 30px;
    height: 135px;
}

.read-all-news {
    position: relative;
    margin-top: -10px;
    margin-right: 10px;
}

.pix-lastnews-dark .read-all-news {
    color: #666 !important;
    border: 1px solid #ddd;
    margin-top: -10px;
    background: transparent !important;
    border-right: 5px solid #549404 !important;
}

.pix-lastnews-dark .read-all-news:hover {
    background: #549404 !important;
    color: #fff !important;
}

#partners .owl-buttons {
    margin-right: 15px;
    position: relative;
    float: right;
    margin-top: -220px;
}

.title-space {
    margin-left: 15px;
}

#partners .owl-buttons div {
    background: none;
    margin: 0px;
    padding: 5px 20px;
}

#partners .owl-item {
    padding: 0;
}

#partners a {
    padding: 30px 0;
    text-align: center;
    display: block;
    border-right: 3px solid;
}

footer .copy {
    line-height: 75px;
    padding-right: 15px;
    position: relative;
    z-index: 2;
    font-size: 14px;
    color: #fff !important;
    bottom: 0;
    text-transform: uppercase;
    background: #f26520 !important;
}

.fobox ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.fobox ul li {
    margin: 0;
    padding: 0 0 20px 0;
}

.fobox a {
    font-weight: 500;
    font-size: 14px;
}

.focontent {
    margin-bottom: 25px;
}

#to-top {
    top: 0px;
    left: -30px;
    cursor: pointer;
    display: block;
    position: absolute;
    width: 80px;
    text-align: center;
    line-height: 60px;
    height: 65px;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
}

#to-top i {
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
}


/* Footer */

footer .color-part2 {
    position: absolute;
    margin-top: -5px;
    text-align: center;
    left: 0px;
    right: 0px;
    z-index: 2;
}

footer .color-part2:after {
    content: "";
    display: inline-block;
    border-top: 12px solid #fff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    height: 0;
    width: 900px;
    max-width: 90%;
    position: relative;
    margin-top: -10px;
}

footer:before {
    height: 65px;
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    width: 50%;
    bottom: 0px;
}

footer {
    position: relative;
    border-bottom: 10px solid;
}

footer a {}

footer nav a {
    display: block;
    margin-bottom: 20px;
}

footer nav a:hover {
    text-decoration: none;
}

footer h4 {
    margin-bottom: 40px;
}

footer .block-content {
    background: url(../img/footer-bg.png) no-repeat center center;
    background-size: cover;
    margin-bottom: 0;
    padding-top: 110px;
    padding-bottom: 85px;
}

footer .color-part {
    display: none !important;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    bottom: 0px;
    width: 50%;
    margin-left: -20%;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
}

.logo-footer {
    display: block;
    background: url(../img/logoclear.png) no-repeat;
    width: 244px;
    height: 42px;
}

footer p {
    font-size: 14px;
    margin-top: 30px;
    padding-right: 60px;
    line-height: 20px;
}

.footer-list li {
    font-weight: 500;
    font-size: 14px;
    padding-bottom: 20px;
}

.footer-icons {
    padding: 20px 0 30px 0;
}

.footer-icons a {
    padding-right: 5px;
    display: inline-block;
    font-size: 12px;
}

.footer-btn {
    font-size: 14px;
    padding: 14px 20px !important;
}

.contact-info {
    margin-top: 30px;
}

.contact-info span {
    display: block;
    margin-bottom: 10px;
    color: #eee;
}

.contact-info strong {
    font-weight: 700;
    font-size: 12px;
}

.contact-info span:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.contact-info i {
    display: block;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 22px;
    color: #ccc;
}



.box-col1 {
    display: inline-block;
    float: right;
    max-width: 236px;
    padding-top: 49px;
    position: relative;
    z-index: 99;
    color: #fff;
}

.box-col2 {
    text-align: center;
    display: block;
    width: 100%;
    padding-top: 43px;
    max-width: 530px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    z-index: 99;
    color: #fff;
}

.box-col2 p {
    text-align: center;
    width: 100%;
    display: inline-block !important;
    position: relative;
    z-index: 99;
    color: #fff;
}

.box-col3 {
    color: #fff;
    display: inline-block;
    float: left;
    max-width: 235px;
    padding-left: 30px;
    padding-top: 49px;
    position: relative;
    z-index: 99;
}

.parallax {
    padding: 100px 0;
}

.parallax h1 {
    margin-bottom: 50px;
}

.info-texts {
    position: relative;
    margin-bottom: 320px;
}

.info-texts p {
    position: relative;
    z-index: 2;
    vertical-align: middle;
    display: table-cell;
    z-index: 4;
    text-align: center;
    color: #fff;
    line-height: 24px;
}

.info-texts div {
    position: relative;
}

.info-texts div:before {
    content: "";
    display: block;
    position: absolute;
    border-bottom: 180px solid;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    z-index: 3;
    left: -65px;
    right: -65px;
    top: -25px;
}

.info-texts div:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    height: 15px;
    left: -60px;
    right: -60px;
    background: #fff;
    z-index: 2;
}

.info-texts div:first-child:before,
.info-texts div:last-child:before {
    border-top: 180px solid;
    border-bottom: none;
    z-index: 5;
    top: 0px;
}

.info-texts div:last-child:before {
    border-right: 0 none;
}

.info-texts div:first-child:after,
.info-texts div:last-child:after {
    display: none;
}

.info-texts div:first-child:before {
    right: -15px;
    left: 0px;
}

.info-texts div:last-child:before {
    left: -15px;
    right: 0px;
}

.info-texts div:first-child p,
.info-texts div:last-child p {
    margin-top: 15px;
    z-index: 6;
}

.info-texts div:first-child p {
    text-align: right;
    padding-right: 40px;
}

.info-texts div:last-child p {
    text-align: left;
    padding-left: 40px;
}

.info-texts:before,
.info-texts:after {
    content: "";
    display: block;
    position: absolute;
    width: 50%;
    top: 0px;
    height: 180px;
    z-index: 1;
}

.info-texts:before {
    left: 0;
}

.info-texts:after {
    left: 50%;
}

.main-content img + * {
    margin-top: 30px;
}

.quote-form {
    margin-top: -90px;
    padding: 50px;
    background: url(../img/form-bg.jpg) no-repeat center center;
    background-size: cover;
}

.quote-form input,
.quote-form textarea {
    margin-bottom: 15px;
    border: none;
    width: 100%;
    padding: 15px;
    max-height: 116px;
}

.quote-form input[type=submit] {
    background-color: #a91605;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
}

.wpcf7-not-valid {
    border: 1px solid red !important;
}

.quote-form span.wpcf7-form-control-wrap {
    position: relative;
    height: 65px;
    display: block;
}

.quote-form button.btn,
.quote-form a {
    width: 100%;
}

.page-title {
    background-image: url(../media/bg/page-title-1.jpg);
    position: relative;
    padding: 50px 0 10px;
}

.page-title:after {
    display: inline-block;
    content: '';
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.page-title .container-fluid {
    position: relative;
    z-index: 77;
}

.page-title .container-fluid .title {
    float: left;
    margin-bottom: 0;
}

.page-title a,
.page-title a:hover {
    text-decoration: none;
}

.page-title h1 {
    display: inline-block;
}

.page-title .page-title-h {
    display: inline-block;
    margin-bottom: 0px;
}

.page-title-h span {
    display: block;
    font-size: 12px;
    padding-top: 20px;
    font-weight: normal;
}


/* Team */

.team > div > div.userpic {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 260px;
    width: 100%;
}

.team .user-info + a.btn {
    margin-right: 30px;
}

.team.style-2 > div > div:hover span {
    display: block;
    top: 0px;
}

.team > div > div span {
    display: none;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 30px 15px;
    text-align: center;
    font-size: 12px;
    line-height: 22px;
    font-weight: 300;
    background-color: rgba(57, 127, 169, 0.8);
}

.team .user-info {
    padding: 40px 0 30px 2px;
}

.team .user-info h4,
.team .user-info small {
    font-family: 'Exo', sans-serif;
}

.team .user-info p {
    margin-top: 20px;
}

.team .user-info h4 {
    margin-top: 5px;
}

.team .soc-icons {
    display: inline-block;
}

.team .soc-icons i {
    margin-right: 6px;
}

.team.style-2 div:hover .user-info p,
.team.style-2 div .soc-icons {
    display: none;
}

.team.style-2 div:hover .soc-icons {
    display: block;
}

.services .service-item {
    float: none;
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
}

.attachments {
    margin: 0px;
    padding: 0px;
}

.attachments li {
    list-style: none;
    border: 1px solid #eee;
    margin-bottom: 15px;
}

.attachments li i {
    margin: 0 20px;
}

.attachments li a {
    display: inline-block;
    border-left: 1px solid #eee;
    padding: 20px 15px;
    font-size: 14px;
}

.attachments li a:hover {
    text-decoration: none;
}

.sidebar-container > div + div {
    margin-top: 50px;
}

.sidebar-container > div > h4 {
    margin-bottom: 35px;
}


/* Search */

.search-form {
    position: relative;
}

.search-form input[type=text] {
    display: block;
    background: #f5f5f5;
    border: none;
    color: #999;
    margin: 0px;
    padding: 20px 45px 20px 25px;
    width: 100%;
    border-right: 4px solid #e3e3e3;
}

.search-form input:focus {
    outline: 0;
    box-shadow: none;
    border: none;
    border-right: 4px solid #e3e3e3;
}

.search-form i {
    position: absolute;
    right: 25px;
    top: -17px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

ul.blog-cats {
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
}

ul.blog-cats > li {
    list-style: none;
    border: 1px solid #eeeeee;
    position: relative;
}

ul.blog-cats li > ul {
    display: none;
    padding: 10px 15px;
    padding-left: 20px;
    margin-left: 4px;
    margin-bottom: -1px;
    margin-right: -1px;
}

ul.blog-cats li > ul > li {
    list-style: none;
}

ul.blog-cats li > ul > li > a {
    font-weight: 500;
    color: #fff;
}

ul.blog-cats li > ul > li + li {
    margin-top: 10px;
}

ul.blog-cats > li + li {
    margin-top: 7px;
}

ul.blog-cats > li:before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    width: 5px;
}

ul.blog-cats > li:hover:before {
    opacity: 0.5;
}

ul.blog-cats > li > a {
    padding: 13px 20px;
    display: block;
    font-weight: 500;
}

ul.blog-cats > li > a:hover {
    text-decoration: none;
}

.recent-posts div + div {
    margin-top: 25px;
}

.recent-posts div:after {
    content: "";
    display: block;
    clear: both;
}

.recent-posts div img {
    float: left;
    margin-right: 15px;
}

.recent-posts div a {
    font-family: 'Exo', sans-serif;
    font-weight: 700;
}

.recent-posts div a:hover {
    text-decoration: none;
}

.recent-posts div a:after {
    content: "";
    display: block;
}

.recent-posts div span {
    display: inline-block;
    font-size: 11px;
    margin-top: 15px;
    color: #888;
}

.tags a {
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase;
    display: inline-block;
    background: #f4f4f4;
    border: 1px solid #eee;
    padding: 10px 16px;
    margin-right: 6px;
}

.tags a:hover {
    text-decoration: none;
}

.tags a + a {
    margin-top: 10px;
}

.twitter-feeds div {
    padding: 0 0 25px 25px;
}

.twitter-feeds div + div {
    border-top: 1px solid #eee;
    padding-top: 25px;
}

.twitter-feeds div i {
    position: absolute;
    margin: 5px 0 0 -23px;
}

.twitter-feeds div p {
    display: block;
    font-size: 13px;
    margin: 0px;
}

.twitter-feeds div span {
    display: inline-block;
    font-size: 11px;
    font-weight: 500;
    margin-top: 10px;
}

.tagcloud li {
    padding: 3px 1px !important;
}

.tagcloud a {
    display: inline-block;
    margin-right: 0;
    padding: 10px 16px;
    background: #f4f4f4;
    border: 1px solid #eee;
    font-weight: 700;
    font-size: 11px;
    color: #333;
    transition: all .3s;
    text-transform: uppercase;
}

.tagcloud a:hover {
    color: #FFF;
    text-decoration: none;
}

.flickr-feed li {
    display: inline-block;
    padding: 15px 5px;
}

nav.pagination {
    margin: 80px 0;
}

nav.pagination a {
    display: block;
    float: left;
    border: 1px solid #eee;
    padding: 8px 20px 6px 20px;
    font-size: 12px;
}

nav.pagination a:hover {
    text-decoration: none;
}

nav.pagination a + a {
    border-left: none;
}


/* Blog posts */

.small-posts > div + div,
.big-posts > div + div {
    margin-top: 90px;
}

.post-content p {
    margin-bottom: 0px;
}

.post-content p + p {
    margin-top: 20px;
}

.small-posts > div > h1,
.big-posts > div > h1 {
    margin-top: 15px;
    text-transform: none;
    font-size: 22px;
    margin-bottom: 30px;
}

.small-posts > div > .read-more,
.big-posts > div > .read-more {
    margin-top: 40px;
}

.post-info {
    position: relative;
    padding: 15px 20px 17px 20px;
    border: 1px solid #eee;
}

.post-info:after {
    position: absolute;
    content: "";
    display: block;
    bottom: -1px;
    height: 3px;
    left: -1px;
    right: -1px;
}

.post-info span {
    color: #888;
    display: inline-block;
    padding: 0 20px 0 0;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
}

.post-info span + span {
    border-left: 1px solid #ccc;
    padding-left: 20px;
}

.big-posts > div > img,
.single-post > div > img {
    width: 100%;
}

.big-posts .post-info,
.single-post .post-info {
    margin-bottom: 45px;
    margin-top: 15px;
}

.small-posts .post-info {
    margin-bottom: 28px;
}

.small-posts > div > img {
    float: left;
    margin-bottom: 15px;
    margin-right: 30px;
    max-width: 50%;
}

.small-posts > div:after {
    content: "";
    display: block;
    clear: both;
}

.post-content img {
    max-width: 100%;
}

.post-content p + img,
.post-content img + img,
.post-content img + p,
.post-content .clearfix + p,
.post-content .clearfix + img {
    margin-top: 20px;
}

.post-content img.pull-left {
    margin-right: 20px;
}

.post-content img.pull-right {
    margin-left: 20px;
}


/* Comments */

.comments,
.new-comment {
    margin-top: 80px;
}

.comments div .userpic {
    float: left;
    margin-right: 30px;
    margin-left: -10px;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.comments div .userpic:after {
    position: absolute;
    content: "";
    display: block;
    right: 0px;
    width: 0;
    height: 0;
    border-top: 80px solid #f5f5f5;
    border-left: 20px solid transparent;
}

.comments > div > span.author {
    font-weight: 700;
    font-family: 'Exo', sans-serif;
    margin-right: 35px;
}

.comments > div > span.date {
    color: #888;
    font-size: 11px;
}

.comments > div > p {
    margin-top: 15px;
}

.comments > div > a.reply {
    display: block;
    position: absolute;
    height: 30px;
    border: 1px solid #eee;
    right: -3px;
    bottom: -30px;
    line-height: 30px;
    color: #919191;
    text-transform: uppercase;
    padding: 0 15px;
    font-size: 10px;
    font-family: 'Exo', sans-serif;
}

.comments > div > a.reply:after {
    right: -1px;
    top: -1px;
    bottom: -1px;
    position: absolute;
    display: block;
    width: 3px;
    content: "";
}

.comments > div > a.reply:hover {
    text-decoration: none;
}

.we-onmap {
    width: 100%;
    border: none;
    height: 450px;
}

.adress-details > div {
    font-size: 13px;
    display: table;
    margin-top: -1px;
}

.adress-details > div:first-child {
    margin-bottom: 25px;
    margin-top: 0;
}

.adress-details > div:after {
    content: "";
    display: block;
    clear: both;
}

.adress-details > div > span {
    display: table-cell;
    border: 1px solid #eee;
    position: relative;
    text-align: center;
    width: 40px;
    height: 35px;
    vertical-align: middle;
}

.adress-details > div > span:after {
    content: "";
    display: block;
    position: absolute;
    right: -3px;
    top: -1px;
    bottom: -1px;
    width: 5px;
}

.adress-details > div > div {
    display: table-cell;
    padding-left: 25px;
    vertical-align: middle;
}


/* Main Slider */

#owl-main-slider .item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

#owl-main-slider {
    position: relative;
}

#owl-main-slider img {
    width: 100%;
}

.rev_slider_wrapper {
    margin-top: 160px;
}

.rev_slider_wrapper h1 {
    display: inline-block;
    font-size: 26px;
    font-family: 'Exo', sans-serif;
    font-weight: 700;
    margin: 0px;
    padding-top: 0px;
}

.rev_slider_wrapper p {
    margin-top: 25px;
    font-size: 16px;
    line-height: 30px;
}

.rev_slider_wrapper a.btn {
    margin-top: 30px;
}

.rev_slider_wrapper a.prev,
.rev_slider_wrapper a.next {
    opacity: 0.8;
    display: block;
    float: left;
    border: 1px solid;
    padding: 0 15px !important;
    cursor: pointer;
    margin-right: 5px !important;
    height: 43px !important;
    line-height: 31px !important;
    margin-top: 14px;
    position: relative;
    top: -5px;
}

.rev_slider_wrapper a.prev:hover,
.rev_slider_wrapper a.next:hover {
    opacity: 1;
}

.rev_slider_wrapper a.prev i,
.rev_slider_wrapper a.next i {
    font-size: 14px !important;
    position: relative;
    top: -10px;
}

.slider-content a.btn {
    margin-top: 30px;
    display: inline-block;
    margin-bottom: 190px;
}

.slider-content a.prev,
.slider-content a.next {
    opacity: 0.8;
    display: block;
    float: left;
    border: 1px solid;
    padding: 6px 15px !important;
    cursor: pointer;
    margin-right: 5px !important;
    height: 47px !important;
    line-height: 31px !important;
    position: relative;
    color: #fff;
}

.slider-content a.prev:hover,
.slider-content a.next:hover {
    opacity: 1;
}

.slider-content a.prev,
.slider-content a.next {
    border-color: #fff;
}

.main-slider {
    color: #FFF;
    font-size: 15px;
    font-family: Exo;
}

.main-slider__title {
    color: #FFF;
    margin-bottom: 20px;
    padding-top: 190px;
}

.main-slider__content {
    font-size: 15px;
}

.main-slider__control {
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
    margin-left: 30px;
}

body,
.column-info > span,
.bg-image .one-news > div > div,
.bg-image .two-news > div div:last-child > div,
.main-menu a:after,
#to-top:hover,
.btn.btn-sm.btn-success,
.darken-block .testimonial-content,
#testimonials .owl-buttons div,
ul.blog-cats li:hover:before {
    background-color: #fff !important;
}

.rev_slider_wrapper a.prev,
.rev_slider_wrapper a.next {
    border: 1px solid #fff !important;
}

.testimonial-content span,
.bg-image h1,
.why-us li span,
.stats > div > div:hover,
.rev_slider_wrapper a.prev,
.rev_slider_wrapper a.next,
.big-hr,
.big-hr h2,
.contact-info strong,
.footer-icons a:hover,
footer h4,
footer nav a:hover,
.topmenu a,
.btn.btn-sm.btn-default:hover,
.btn.btn-sm.btn-success:hover,
.btn.btn-success,
.btn-success:hover,
.btn.btn-danger,
.btn.btn-danger:hover,
.main-menu a,
.rev_slider_wrapper,
.rev_slider_wrapper h1,
#to-top,
.blog-section h3,
.one-news > div > div small,
.two-news > div div:last-child small,
.blog-section div div a,
.blog-section div div a:hover,
#fleet-gallery .owl-buttons div,
.page-title,
.page-title a,
.page-title a:hover,
.team > div > div span,
.comments > div > a.reply:hover,
nav.pagination a:hover,
nav.pagination a.active,
.tags a:hover,
ul.blog-cats > li:hover > a {
    color: #fff;
}

.header-padding,
small.color-dark,
h1.color-dark,
h2.color-dark,
h3.color-dark,
h4.color-dark,
h5.color-dark,
h6.color-dark {
    color: #000;
}

footer .copy,
footer:before {}

footer {
    border-bottom: 0 !important;
    background: #333;
}

body,
.our-services div > a,
.our-services div > a:hover .btn-default,
.header-padding span,
.bg-image .one-news > div > div small,
.bg-image .two-news > div div:last-child small,
.btn.btn-sm.btn-success,
.btn.btn-sm.btn-default {
    color: #4C4C4C;
}

.our-services div > a,
.stats > div > div {
    border-color: #eee;
    min-height: 114px;
}

.header-padding div {
    border-left-color: #eee;
}

.why-us,
.testimonial-content:after {
    border-top-color: transparent;
}

footer p {
    color: #eee;
}

.testimonial-content,
.our-services div > a:after {}

.pix-reviews-light .testimonial-content {
    background: #fff;
}

.pix-reviews-light .testimonial-content:after {
    border-top-color: #fff;
}

.our-services.styled div > a:hover,
#partners a,
.darken-block {}

footer,
footer a,
footer .copy {
    color: #ccc;
}

.one-news > div > div small.news-author,
.two-news > div div:last-child small.news-author,
#partners a {
    border-right-color: #ccc;
}

.service-item > h4 {
    margin-top: 15px;
}


/* Search Modal */

.transition {
    -webkit-transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
}

.search-form-modal {
    background-color: #000;
    background: rgba( 0, 0, 0, 0.93);
    height: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.search-form-modal.open {
    height: 100%
}

.search-form_close {
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: -20px;
}

.header_search_form {
    bottom: 0;
    display: block;
    height: 80px;
    left: 0;
    margin: auto;
    max-width: 550px;
    padding: 15px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.header_search_form .form-group {
    float: left;
    height: 100%;
    width: 68%;
}

.header_search_form .form-group .form-control {
    border-color: #fff;
    border-style: solid none solid solid;
    border-width: 2px 0 2px 2px;
    font-size: 16px;
    height: 100%;
    float: left;
    width: 100%;
    padding: 10px 15px;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    font-weight: normal;
}

.header_search_form .btn_search {
    border: 2px solid #fff;
    color: #fff;
    float: right;
    font-size: 16px;
    height: 100%;
    text-transform: uppercase;
    width: 32%;
    text-shadow: none;
    -moz-text-shadow: none;
    -webkit-text-shadow: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    font-weight: normal;
}


/*Blog*/

.blog-item {
    margin-bottom: 70px;
}

.entry-main h1 {
    margin-top: 15px;
    text-transform: none;
    font-size: 22px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.entry-main h1 a {
    text-transform: uppercase;
    color: #333;
    font-size: 22px;
}

.entry-review__name {
    text-align: right;
    display: inline-block;
    width: 100%;
    color: #888;
    font-weight: normal;
    font-size: 14px;
    font-style: italic;
}

.post .read-more {
    margin-top: 40px;
}

.post-info span a {
    color: #888;
}

.entry-main img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.entry-main .owl-controls {
    text-align: right;
    margin-top: -60px;
    padding-bottom: 20px;
}

.entry-main .owl-theme .owl-controls .owl-buttons div {
    right: 20px;
    position: relative;
    background: #fff;
}

.type-post.sticky:after {
    position: absolute;
    right: 0;
    top: -23px;
    height: 20px;
    width: 20px;
    font: 31px/1 'Simple-Line-Icons';
    content: "\e031";
    color: #549404;
    text-transform: none;
    speak: none;
    z-index: 777;
    -webkit-font-smoothing: antialiased;
}

.post {
    margin-bottom: 70px;
}

.post .social-links {
    border-top: 1px solid #eee;
    margin-top: 30px;
}

.post .social-links__inner {
    position: relative;
    top: -20px;
    background-color: #fff;
}

.post .social-links__name {
    margin-right: 12px;
    margin-left: 12px;
    font-size: 14px;
    font-weight: 700;
    color: #525252;
}

.post .social-links a {
    display: inline-block;
    width: 37px;
    margin-left: 6px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 1px solid #eee;
    border-radius: 50%;
    transition: all 0.3s;
    text-align: center;
}

.post .social-links .icon {
    color: #ccc;
    transition: all 0.3s;
    margin-left: 0;
    margin-top: 2px;
}

.post .social-links a:hover {
    border-color: #f26520;
}

.post .social-links a:hover .icon {
    color: #f26520;
}

.wrap-post-2 {
    margin-left: -15px;
    margin-right: -15px;
}

.post-2 {
    display: inline-block;
    vertical-align: top;
    width: 33.3%;
    padding: 0 15px 30px;
    margin-right: -3px;
}

.post-2__media {}

.post-2__main {
    padding: 20px;
    border: 1px solid #eee;
}

.post-2__title {}

.post-2__content {}

.post-2__btn {
    padding: 10px;
    font-size: 14px;
}

.single-post blockquote {
    padding: 20px 20px 20px 55px;
    margin: 20px 0;
    font-size: 14px;
    border-left: 0;
    line-height: 1.666;
    background: #f5f5f5;
    position: relative;
    border-right: 3px solid #ddd;
    min-height: 100px;
}

.single-post blockquote:before {
    display: block;
    position: absolute;
    left: -17px;
    top: 21px;
    width: 50px;
    height: 50px;
    content: '';
    display: inline-block;
}

.single-post blockquote:after {
    content: "\f10d";
    font-family: 'FontAwesome';
    line-height: 1;
    color: #fff;
    font-size: 21px;
    position: absolute;
    left: -1px;
    top: 35px;
}

.footer-panel {
    padding-top: 20px;
}

.footer-panel a {
    color: #888;
    display: inline-block;
    padding: 0 2px 0 10px;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
}

.pagination>li.current a {
    background-color: #549404;
    color: #fff;
}


/*04  Comments */

.comments-header {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    background: none repeat scroll 0 0 #000;
    z-index: 7;
    text-transform: uppercase;
}

.comments-header a {
    color: #fff;
}

.comments-list > li {
    list-style: none;
}

.comments-list > li li {
    position: relative;
}

.comments-list {
    margin-bottom: 15px;
    margin-left: 0;
    padding-left: 0;
}

.comment {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 0;
    transition: all 0.3s;
}

.comment .avatar-placeholder {
    position: absolute;
    top: 45px;
    left: -22px;
    width: 90px;
    z-index: 9;
}

.comment .avatar-placeholder:after {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    right: 0px;
    width: 0;
    height: 0;
    border-top: 100px solid #f5f5f5;
    border-left: 20px solid transparent;
}

.content-comment {
    padding-left: 0;
    margin-left: 110px;
}

.comment .avatar-placeholder img {
    width: 100%;
    height: auto;
}

.comment .comment-header {
    margin: 0 0 14px 120px;
    padding-top: 0;
}

.comment .comment-author {
    margin-right: 20px;
    font-style: normal;
    color: #333;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    float: left;
    display: block;
    margin-right: 17px;
}

.comment .comment-datetime {
    font-size: 11px;
    color: #999;
}

.comment-datetime span[class*='icon-'] {
    position: relative;
    top: 0;
    margin-right: 3px;
    font-size: 12px;
    font-style: normal;
    color: #526aff;
}

.comment .comment-reply {
    right: 0;
    bottom: 0;
    padding: 10px 15px;
    text-transform: none;
    margin: 0;
    font-size: 12px;
}

.comment .comment-reply .btn {
    display: block;
    position: absolute;
    height: 30px;
    border: 1px solid #eee;
    border-right: 3px solid #f26520 !important;
    right: -3px;
    bottom: -30px;
    line-height: 30px;
    color: #919191;
    text-transform: uppercase;
    padding: 0 15px;
    font-size: 10px;
    font-family: 'Exo', sans-serif;
}

.comment .comment-reply .btn a {
    color: #363636;
}

.icon-clock {
    margin-right: 3px;
}

.content-comment {
    position: relative;
    background: #f5f5f5;
    margin-left: 10px;
    border-right: 3px solid #ddd;
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 90px;
    padding-right: 25px;
}

.comment .comment-reply .btn:hover {
    background-color: #f26520;
}

.comment .comment-reply .btn:hover a {
    color: #fff !important;
}

.comment .comment-reply .btn:hover .icon {
    transition: all 0.3s;
}

.comment .comment-reply .btn:hover .icon {
    color: #fff;
}

.comment .comment-body {
    margin-left: 120px;
    padding: 0 30px 37px 0;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #eee;
}

.comment .comment-body p {
    margin-bottom: 0;
}

.comments-list .children {
    margin: 10px 0 0 120px;
    padding: 0;
    list-style: none outside none;
}

.comments-list > li:last-child,
.comments-list .children > li:last-child {
    margin-bottom: 0;
    background: none;
}

.comment-reply-form {
    margin-top: 70px;
    margin-bottom: 100px;
    margin-left: 6px;
}

.comment-reply-form .ui-form {
    margin-top: 40px;
}

.comment-reply-form .btn {
    padding: 14px 12px;
}

.input-group {
    margin-bottom: 25px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.input-group:before {
    display: block;
    content: '';
    height: 95%;
    width: 20px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 7;
    border-right: 3px solid rgba(136, 136, 136, 0.2);
}

.input-group .icon {
    position: absolute;
    right: 10px;
    top: 10px;
}

.input-group textarea {
    border: 1px solid #eee;
    min-height: 130px;
    padding: 10px;
    position: relative;
    width: 100%;
}

.input-group input[type=text] {
    border: 1px solid #eee;
    position: relative;
    padding: 10px;
    width: 100%;
}

.service-item {
    padding-bottom: 50px;
}

.topmenu li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.topmenu ul {
    margin: 0;
    padding: 0;
}

.preloaderjs .spinner {
    display: none !important;
}

.preloaderjs#page-preloader {
    background: rgba( 46, 46, 46, 0.99) !important;
}

#page-preloader {
    position: fixed;
    z-index: 100500;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2e2e2e;
}

#page-preloader .spinner {
    position: absolute;
    z-index: 1001;
    top: 50%;
    left: 50%;
    display: block;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    -webkit-animation: spin 2.5s infinite linear;
    animation: spin 2.5s infinite linear;
    border: 3px solid transparent;
    border-top-color: #a91605;
    border-radius: 50%;
}

#page-preloader .spinner:before,
#page-preloader .spinner:after {
    position: absolute;
    content: '';
    border-radius: 50%;
}

#page-preloader .spinner:before {
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
    border: 3px solid transparent;
    border-top-color: #fff;
}

#page-preloader .spinner:after {
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
    border: 3px solid transparent;
    border-top-color: #549404;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/*Icon*/

html .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-sm.vc_icon_element-have-style-inner {
    width: auto !important;
    height: auto !important;
    margin: 0px 5px 0 10px !important;
}

footer .pix_icon_element_content {}

.vc_icon_element {
    line-height: 0;
    font-size: 14px;
    margin: 0px 5px 0 0 !important;
    display: inline-block;
}

.vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-xs.vc_icon_element-have-style-inner {
    border: 1px solid #555;
}

.pix_icon_element_content {
    width: 100%;
    display: inline-block;
}

.pix_icon_element .vc_icon_element-inner {
    margin-right: 15px;
}

.pix_icon_element_content .vc_icon_element-inner {
    float: left;
}

.vc_icon_content {
    float: left;
    padding-top: 0;
    margin-top: -5px;
    padding-bottom: 22px;
    margin-left: 0;
}

footer .vc_icon_content strong {
    color: #fff;
}

.vc_icon_content p {
    padding: 0;
    margin: 0;
}

.pix_icon_element_content .vc_icon_element-inner {
    float: left;
    width: auto !important;
    margin: 0 22px 0 0;
}

footer .pix_icon_element_content .fa-map-marker {
    position: relative;
    top: 5px !important;
}

.pix_icon_element_content .vc_icon_content {
    padding-left: 10px;
}

.vc_icon_element-style-boxed-outline .vc_icon_element-icon {
    border: 1px solid #eee !important;
    border-right: #a91605 5px solid !important;
    margin: 20px 10px 0 0;
    padding: 16px 0 0 0;
    width: 40px;
    height: 40px;
}

.vc_icon_element-style-boxed-outline .vc_icon_element-icon:before {
    font-size: 16px !important;
    top: -8px;
    position: relative;
    left: -3px;
}

.vc_icon_element-outer .vc_icon_content {
    padding-left: 30px !important;
    padding-top: 8px;
    padding-bottom: 9px;
}

footer .vc_icon_element-outer .vc_icon_content {
    padding-left: 0 !important;
    padding-top: 0;
    padding-bottom: 20px;
}

footer .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner .vc_icon_element-icon {
    top: 0 !important;
}

footer .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner {
    height: auto !important;
}

input[type="submit"] {
    background-color: #549404;
    font-family: 'Exo', sans-serif;
    font-weight: 700;
    position: relative;
    font-size: 12px;
    padding: 15px 30px;
    border: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 0px;
}

.wpb_map_wraper iframe {
    pointer-events: none;
}


/*HOVER*/

.img-hover-effect {
    position: relative;
    overflow: hidden;
    display: block;
    height: 100%;
    width: 100%;
}

.img-hover-effect img {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.img-hover-effect:after {
    background: rgba(255, 255, 255, 0.4) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: -180%;
    position: absolute;
    top: 0;
    transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
    width: 100%;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.img-hover-effect:hover img {
    transform: scale(1.1);
}

.img-hover-effect:hover:after {
    left: -75%;
}

.sidebar-container ul.styled {
    margin: 0;
    padding: 0;
}


/*VC default*/

.listing .fl-ic {
    color: #333;
}

.list-content {
    padding: 0 0 20px 0;
}

.listing.icon-center {
    text-align: center;
}

.listing.icon-right {
    text-align: right;
}

.vc_chart-legend li:before {
    display: none !important;
}

.vc_grid-item .vc_btn3.vc_btn3-color-juicy-pink,
.vc_grid-item .vc_btn3.vc_btn3-color-juicy-pink.vc_btn3-style-flat {
    color: #ffffff;
    background-color: #549404;
    padding: 10px;
    border-radius: 0;
}

.vc_grid-item .vc_btn3.vc_btn3-color-juicy-pink:hover,
.vc_grid-item .vc_btn3.vc_btn3-color-juicy-pink.vc_btn3-style-flat:hover {
    background-color: #a91605;
}

.vc_grid-item .vc_gitem-zone {
    border: 1px solid #eee;
}

.section-chart {
    padding-bottom: 40px;
}

.section-chart_mod-a {}

.bg-overlay:before {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: rgba(10, 10, 10, 0.75) !important;
    display: block !important;
    width: 100%;
    height: 100%;
}

.bg-overlay .vc_column_container {
    position: relative;
    z-index: 77;
}

.home-section .wpb_button,
.home-section .wpb_content_element,
.home-section ul.wpb_thumbnails-fluid>li {
    margin-bottom: 0;
}

