<template>
    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <th>Group Name</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="group in groups" :key="group.id">
            <td><a :href="url + group.id">{{ group.name }}</a></td>
        </tr>
        </tbody>
    </table>
</template>

<script>
    export default {
        name: "view",
        props: ['groups'],
        data() {
            return {
                url: '/admin/group/'
            }
        }
    }
</script>

<style scoped>

</style>