<template>
    <div>
        <form action="">
            <!--Label: Name, Attributes: name-->
            <div class="form-group col-md-6">
                <label for="name" class=" col-form-label">Name</label>
                <div>
                    <input type="text" class="form-control" id="name"
                           v-model="hbc"
                           name="name"
                           :class="{ 'is-invalid' : errors.hbc }" autocomplete="off">
                    <div class="invalid-feedback" v-if="errors.hbc">
                        <strong>{{ errors.hbc.toString() }}</strong>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <button class="btn btn-success waves-effect waves-light" @click.prevent="saveHbc">
                    <span class="btn-label">
                        <i class="fa fa-save" :class="{ 'fa-spin fa-spinner': saving }"></i></span>
                    Add HBC
                </button>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        name: "create",
        data() {
            return {
                hbc: '',
                errors: '',
                saving: false
            }
        },
        methods: {
            saveHbc() {
                this.saving = true;
                axios.post('/admin/hbc', this.$data).then(resp => {
                    this.saving = false;
                    this.hbc = '';
                }).catch(err => {
                    this.saving = false;
                });
            }
        },
    }
</script>

<style scoped>

</style>