<template>
    <div>
        <table class="table table-condensed table-hover">
            <thead>
            <tr>
                <th>Type</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(one,index) in type">
                <td>{{ one.type }}</td>
                <td>
                    <button class="btn btn-facebook waves-effect waves-light">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "types",
        props: ['group'],
        created() {
            let span = this;
            Bus.$on('contributiontypedadded', function (all) {
                span.type.unshift({
                    type: all.type
                });
            });
        },
        data() {
            return {
                type: this.group
            };
        }
    }
</script>

<style scoped>

</style>